@model Model.Region

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-files-o"></i>Formulario borrar Objetal</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
            <li><i class="icon_document_alt"></i>Delete</li>
            <li><i class="fa fa-files-o"></i>Regiones</li>
        </ol>
    </div>
</div>


<h3>Estass seguro que quieres borrar esta region?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_REGION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_REGION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM_REGION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_REGION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class=" col-xs-offset-1 btn btn-danger" /> 
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>
