@model Model.Provincia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Provincia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_REGION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_REGION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_PROVINCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_PROVINCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOM_PROVINCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOM_PROVINCIA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new {@class="btn btn-danger" }) |

</p>
