@model Model.Actividad

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COD_ACTIVIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_ACTIVIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESC_ACTIVIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESC_ACTIVIDAD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
