@model IEnumerable<Model.Municipio>

@{
    ViewBag.Title = "Listar Municipios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Crear Nuevo", "Create",null, new { @class = "btn btn-success" })
</p>
<table class="table table-striped table-bordered table-advance table-hover">
    <tr>
        <th>
            Codigo de Region
        </th>
        <th>
            Codigo de Provincia
        </th>
        <th>
            Codigo de Municipio
        </th>
        <th>
            Nombre de Municipio
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.COD_REGION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COD_PROVINCIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COD_MUNICIPIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOM_MUNICIPIO)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-primary" })
                @*@Html.ActionLink("Details", "Details", new { id=item.id }) |*@
                @Html.ActionLink("Borrar", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
